* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu{
    padding-left: 30px;
}

.header .input img{
    width: 60%;
}

.header .input-btn{
    padding-right: 30px;
}

.input-btn-input{
    width: 200px;
    height: 28px;
}
.input-btn-btn{
    background-color: black;
    color: white;
    padding: 4px
}

.banner{
    display: inline;
    width: 100%;
}

.red{
    text-align: center;
    color: red;
    margin: 30px 0px;
}

.content-top {
    display: flex;
    justify-content: space-between;
}



.content-top-img{
    box-shadow: 5px 5px 5px 5px rgb(171, 163, 163);

}

.content-top-img img{
    width: 100%;
}
.content-top-content{
    box-shadow: 5px 5px 5px 5px rgb(171, 163, 163);
}

