* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu{
    padding-left: 30px;
}

.header .input img{
    width: 100%;
}

.header .input-btn{
    padding-right: 30px;
}