*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#c-circle{
    text-align: center;
    border: 1px solid black ;
    border-radius: 50%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    
    
}

.header-list li{
    list-style-type: none;
    float:left;
    padding: 20px
   
}

.header-list li a{
    text-decoration: none;
    color: rgb(91, 198, 198);
    font-size: 30px;
   
}

