* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.header-content {
    font-size: 30px;
    font-style: italic;
    padding-left: 50px;
    color: orange;
}

.header-img img{
    width: 80px;
    height: auto;
}