* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img img{
    width: 35%;
    padding: 10px;
    padding-left: 40px;
}

.header-list