* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-img img{
    width: 35%;
    margin-top: 10px;
    margin-left: 40px;
}

.header-list ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-list ul li a{
    color: aqua;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    padding: 0px 30px;

}